@charset "UTF-8";

body{
    background:#202126 ;
}

.menu{
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10%;
    font-size:1em;
    font-weight: 700; 
    font-family: 'PT Serif', serif;
}

.e1 {
    font-size: 2em;
    
}

.e2 {
    margin-left: 31% ;
    transition: 0.7s all;
}

.e2 li {
    padding: 5px;
    list-style: none;
    display: inline-block;
    
}

.e2 a{
    text-decoration: none;
    color: white;
    transition: 0.7s all;
}

.e2 a:hover {
    padding: 10px;
    background-color: #4455eb ;
    transition: 0.7s all;
}

.topo {
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 60%;
    padding-top: 325px;
    font-size:1em;
    font-weight: 700; 
    font-family: 'PT Serif', serif;
}

.box h2{
    font-size: 50px;
}

.a1 {
    margin-right: 18%;
    width: 19%;
}

.a1 li {
    
    list-style: none;
    display: inline-block;
    
}

.a1 a{
    text-decoration: none;
    color: white;
    transition: 0.7s all;
}

.a1 a:hover {
    padding: 15px;
    background-color: #4455eb ;
    transition: 0.7s all;
}

.main {
    text-align: center;
    color: ;
    margin-top: 10%;
}

.logos {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 15%;
    margin: 0 auto;
}


.logo {
    filter: grayscale(100%);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10%;
}

.bot {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
   margin-top: 10%;
}

.botton-ba {
    width: 17%;
    padding-bottom: 14%;
    margin: 0 auto;
}

.botton-ba h2 {
    margin-block: auto;
    font-size: 20px;
    color: #4455eb;
}

.botton-ba h3 {
    font-size: 40px;
    color: white;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

.botton-ba p {
    font-size: 15px;
    color: white;
}

.website {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.fa-desktop{
    padding: 10px;
    background-color: #303753;
    color: #8f8ed5;
}
.fa-rocket{
    padding: 10px;
    background-color: #4f2f35;
    color: #c92f45;
}
.fa-thumbs-up{
    padding: 10px;
    background-color: #083028;
    color:#48d2aa
}
.fa-file-alt {
    padding: 10px;
    background-color: #272614;
    color: #ccaf62
}

.texto {
    padding: 3%;
    width: 30%;
}

.texto h2 {
    color: white;
}

.texto p {
    color: rgb(19, 19, 19);
}

