@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.menu {
    display: flex;
    background-color: #3474e6;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10%;
    font-size:1.5em;
    font-weight: 700; 
    font-family: 'PT Serif', serif;
}

.e1 {
    color: white;
    transition: 0.7s all;
}

.e2 {
    display: flex;
    margin-left: 800px;
    
}

.e2 li {
    list-style: none;
    display: inline-block;
    
}

.e2 a{
    text-decoration: none;
    color: white;
}

.topo {
    height: 400px;
    background-color: #0151cc;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.box {
    
}

.a1 {
    width: 40%;
    text-align: left;
    
}

.a2 {
    
    
}

.b2 {
    
}

.tt {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.tt div{
    width: 14%;
    text-align: center;
    border: 14px solid rgb(26, 253, 253);
    margin: 6px;
    height: 50px;
    border-radius: 10px;
    
}

.box h2 {
    color: white;
    font-size: 48px;
    align-items: center;
    justify-content: center;
}

.box p {
    color: white;
}

.baixo {
    height: 500px;
    background-color: hsl(202, 100%, 45%);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tetris {
    margin: 40px;
    border-radius: 15px;
    color: white;
    background-color: #0a51cc;
    width: 190px;
    padding: 25px;
}

.e2 a {
    transition: 0.7s all;
}

.e2 a:hover {
    background-color: white;
    color: black;
    border-radius: 25px;
    transition: 0.7s all;
}

.e1:hover {
    color: rgb(221, 221, 221);
    transition: 0.7s all;
}

.a1:hover {
    transform: rotate(360deg);
    transition: 0.7s all;
}

.tetris:hover {
    transform: rotate(360deg);
    transition: 0.7s all;
}

.baixo {
    transition: 0.7s all;
}

.baixo:hover {
    background-color: black;
    transition: 0.7s all;
}